<p id="notice"><%= notice %></p>

<p>
  <strong>Route name:</strong>
  <%= @nearest_station.route_name %>
</p>

<p>
  <strong>Station:</strong>
  <%= @nearest_station.station %>
</p>

<p>
  <strong>Min foot:</strong>
  <%= @nearest_station.min_foot %>
</p>

<p>
  <strong>Property:</strong>
  <%= @nearest_station.property %>
</p>

<%= link_to 'Edit', edit_nearest_station_path(@nearest_station) %> |
<%= link_to 'Back', nearest_stations_path %>
