<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %> 件のエラーがあります。</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remark %>
  </div>
　
  <%= form.fields_for :nearest_stations do |nearest_station| %>
    <h4>最寄り駅 <%= nearest_station.index + 1 %></h4>
    <div class="field">
      <%= nearest_station.label :路線名 %>
      <%= nearest_station.text_field :route_name %>
    </div>

    <div class="field">
      <%= nearest_station.label :駅名 %>
      <%= nearest_station.text_field :station %>
    </div>

    <div class="field">
      <%= nearest_station.label :徒歩分数 %>
      <%= nearest_station.number_field :min_foot %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit :登録 %>
  </div>
<% end %>
